@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("../../public/1.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.playbtn {
  background: url("../../public/play.svg");
  top: 40%;
  left: 45%;
}
.playbtn:hover {
  background: url("../../public/playhover.svg");
  cursor: pointer;
}
.btnparent {
  background-image: url("../../public/bt2.png");
  background-size: "100%";
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  background-color: #ff1c38;
  transform: rotate(-2deg);
  transition: 0.2s ease-in;
}
.btn {
  background-color: #ff1c38;
  color: white;
  font-weight: bold;
  font-style: italic;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid rgba(41, 41, 41, 0.25);
  transition: 0.2s ease-in;
}
.btn:hover {
  background-color: #bcff56;
  color: black;
}
.btnparent:hover {
  background-color: #bcff56;
  color: black;
  transform: rotate(3deg);
}
.btnparent:hover .btn {
  background-color: #bcff56;
  color: black;
  transform: rotate(3deg);
}
