@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: DIN-CondBlack, sans-serif;
  src: url("../../public/fonts/DINCnd.otf") format("din");
}
@media only screen and (min-width: 768px) {
  .parent:hover .child {
    opacity: 1;
    height: auto;
    overflow: none;
    transform: translateY(0);
  }
  .child {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transform: translateY(-10%);
  }
}
.footer {
  background: linear-gradient(180deg, #0d0d0d, rgba(13, 13, 13, 0) 85.65%),
    radial-gradient(
      30.28% 113.82% at 26.49% 110.06%,
      rgba(6, 195, 255, 0.2) 0,
      rgba(0, 102, 255, 0) 100%
    ),
    radial-gradient(
      28.44% 103.87% at -1.18% 105.47%,
      rgba(97, 131, 129, 0.3) 0,
      rgba(0, 199, 211, 0) 100%
    ),
    radial-gradient(
      61.25% 146.44% at 100.8% 105.47%,
      rgba(255, 0, 168, 0.3) 0,
      rgba(192, 17, 70, 0) 100%
    ),
    radial-gradient(
      44.72% 104.88% at 74.34% 104.88%,
      rgba(0, 163, 255, 0.3) 0,
      rgba(83, 3, 253, 0) 78.14%
    ),
    #0d0d0d;
}
@media only screen and (max-width: 1079px) {
  /*shareplay page*/
  .share_play_gradient {
    background: linear-gradient(
        1turn,
        rgba(13, 13, 13, 0) 82.89%,
        #0d0d0d 99.15%
      ),
      linear-gradient(180deg, rgba(13, 13, 13, 0) 68.93%, #0d0d0d 96.51%),
      radial-gradient(
        91.41% 35.27% at -2.14% 22%,
        rgba(152, 119, 0, 0.7) 0,
        rgba(97, 87, 0, 0.42) 30.97%,
        rgba(62, 59, 0, 0) 72.51%
      ),
      radial-gradient(
        61.35% 111.43% at 100% 81.91%,
        rgba(255, 84, 107, 0.5) 0,
        rgba(255, 84, 106, 0.205) 26.72%,
        rgba(255, 84, 107, 0) 72.51%
      );
    background-repeat: no-repeat;
    background-size: auto;
  }
}
@media only screen and (min-width: 1079px) {
  /*shareplay page*/
  .share_play_gradient {
    background: url("../../public/shareplay/bg-left.avif") top 165px left -8%,
      url("../../public/shareplay/bg-right.avif") top 78% right / 24%,
      linear-gradient(1turn, rgba(13, 13, 13, 0) 82.89%, #0d0d0d 99.15%),
      linear-gradient(180deg, rgba(13, 13, 13, 0) 68.93%, #0d0d0d 96.51%),
      radial-gradient(
        91.41% 35.27% at -2.14% 22%,
        rgba(152, 119, 0, 0.7) 0,
        rgba(97, 87, 0, 0.42) 30.97%,
        rgba(62, 59, 0, 0) 72.51%
      ),
      radial-gradient(
        61.35% 111.43% at 100% 81.91%,
        rgba(255, 84, 107, 0.5) 0,
        rgba(255, 84, 106, 0.205) 26.72%,
        rgba(255, 84, 107, 0) 72.51%
      );
    background-repeat: no-repeat;
    background-size: auto;
  }
}
.bg {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* z-index: -1; */
  background: url("../../public/coin2.png") top 11.78% left/24%,
    url("../../public/coin1.png") top 11.78% right/24%,
    linear-gradient(1turn, rgba(13, 13, 13, 0) 82.89%, #0d0d0d 99.15%),
    linear-gradient(180deg, rgba(13, 13, 13, 0) 68.93%, #0d0d0d 96.51%),
    radial-gradient(
      61.35% 111.43% at 100% 81.91%,
      #144d3f 0,
      rgba(23, 79, 59, 0.6) 26.72%,
      rgba(23, 96, 74, 0) 72.51%
    ),
    radial-gradient(
      75% 157.46% at 0 1.94%,
      rgba(152, 119, 0, 0.7) 0,
      rgba(97, 87, 0, 0.42) 30.97%,
      rgba(62, 59, 0, 0) 72.51%
    );
  background-repeat: no-repeat;
}

/* carousel */
@media (orientation: landscape) {
  /*motor page:*/
  .ticket {
    border: 30px solid transparent;
    border-style: solid;
    border-image: url("../../public/border-ticket.png");
    border-image-slice: 52;
    border-image-width: 50px;
    border-image-outset: 2px;
    border-image-repeat: round round;
    background-image: url("../../public/bg-yellow-ticket.jpg");
  }
  .main_content {
    background: linear-gradient(0deg, #0d0d0d 1.55%, rgba(13, 13, 13, 0) 11.08%),
      linear-gradient(180deg, #0d0d0d 0.79%, rgba(13, 13, 13, 0) 8.3%), #0a1626;
  }
  .main_gradient {
    top: 0px;
  }
  .mobile {
    display: none;
  }
  .pc {
    display: block;
  }

  .details {
    right: 0;
    right: 55%;
    bottom: 50%;
    left: 10%;
  }
  .imgcontrol {
    width: 17vw;
    height: 10vw;
  }
  @media only screen and (min-width: 1200px) {
    .sec {
      height: calc(40vw + 110px);
    }
  }
  @media only screen and (max-width: 1199px) {
    .sec {
      height: calc(20vw + 300px);
    }
  }
  @media only screen and (max-width: 760px) {
    .sec {
      height: calc(40vw + 400px);
    }
  }
}
@media (orientation: portrait) {
  .ticket {
    border: 30px solid transparent;
    border-style: solid;
    border-image: url("../../public/border-ticket.png");
    border-image-slice: 52;
    border-image-width: 20px;
    border-image-outset: 2px;
    border-image-repeat: round round;
    background-image: url("../../public/bg-yellow-ticket.jpg");
  }
  /* .firstsection {
    margin-top: -5%;
    padding: 10% 0 4%;
    position: absolute;
    background-image: url("../../public/bg2.png"), url("../../public/bg2.png");
    background-position: top right, top left;
    background-position: -10% 0, 118% -1%;
    background-size: 33% 20%;
    background-repeat: no-repeat;
  } */
  .main_gradient {
    top: -20%;
  }
  .main_content {
    background: none;
  }
  @media only screen and (min-width: 1200px) {
    .firstpicmobile {
      height: calc(100vw + 110px);
    }
    .sec {
      height: calc(100vw + 110px);
    }
    .details {
      right: 2em;
      bottom: calc(10vw + 100px);
      left: 2em;
    }
    .imgcontrol {
      width: 17vw;
      height: 10vw;
    }
  }
  @media only screen and (max-width: 1199px) {
    .firstpicmobile {
      height: calc(70vw + 300px);
    }
    .sec {
      height: calc(70vw + 300px);
    }
    .details {
      right: 2em;
      bottom: calc(10vw + 100px);
      left: 2em;
    }
    .imgcontrol {
      width: 17vw;
      height: 10vw;
    }
  }
  @media only screen and (max-width: 760px) {
    .firstpicmobile {
      height: 100vw;
    }
    .sec {
      height: 120vw;
    }
    .imgcontrol {
      width: 20vw;
      height: 14vw;
    }
    .navbtn {
      display: none;
    }
  }
}
html {
  scroll-behavior: smooth;
}
.content {
  background-color: rgb(13, 13, 13);
}

.firstpic {
  transition: opacity 0.5s ease-in-out;
}
/* motor */
.arrowcont {
  color: #ff1c38;
  transition: 0.2s ease-in;
}
.arrowcont:hover {
  color: #bcff56;
  cursor: pointer;
}
.arrowcont:hover .arrow {
  background-color: #bcff56;
}
.arrow {
  mask-image: url("../../public/arrow.svg");
  background-color: #ff1c38;
  width: 30px;
  height: 30px;
  content: "";
}
.playbtn {
  background: url("../../public/play.svg");
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.playbtn:hover {
  background: url("../../public/playhover.svg");
  cursor: pointer;
}
.btnparent {
  background-image: url("../../public/bt2.png");
  background-size: "100%";
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  background-color: #ff1c38;
  transform: rotate(-2deg);
  transition: 0.2s ease-in;
}
.btn {
  background-color: #ff1c38;
  color: white;
  font-weight: bold;
  font-style: italic;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid rgba(41, 41, 41, 0.25);
  transition: 0.2s ease-in;
}
.btn:hover {
  background-color: #bcff56;
  color: black;
}
.btnparent:hover {
  background-color: #bcff56;
  color: black;
  transform: rotate(3deg);
}
.btnparent:hover .btn {
  background-color: #bcff56;
  color: black;
  transform: rotate(3deg);
}
